<mat-toolbar color="primary">
  <h1>Wise YNAB Importer</h1>
</mat-toolbar>

<div class="basic-container">
  <div
    class="dropzone"
    [ngxFileDropzone]="readMode"
    accept='text/csv; charset="utf-8"'
    (fileDrop)="onFileLoad($event)">
    Drop a CSV file in this zone.
  </div>
  <button mat-flat-button color="primary" [disabled]="!transactions" (click)="download()">Download YNAB CSV</button>

  <table mat-table [dataSource]="transactions" class="mat-elevation-z8">
    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef> Típus </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.type}} </td>
    </ng-container>

    <ng-container matColumnDef="recordDate">
      <th mat-header-cell *matHeaderCellDef> Könyvelés dátuma </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.recordDate | date : shortDate }} </td>
    </ng-container>

    <ng-container matColumnDef="valueDate">
      <th mat-header-cell *matHeaderCellDef> Értéknap </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.valueDate | date : shortDate }} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Azonosító </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.id}} </td>
    </ng-container>

    <ng-container matColumnDef="amount">
      <th mat-header-cell *matHeaderCellDef> Összeg </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.amount | number}} </td>
    </ng-container>

    <ng-container matColumnDef="payee">
      <th mat-header-cell *matHeaderCellDef> Partner </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.payee}} </td>
    </ng-container>

    <ng-container matColumnDef="note1">
      <th mat-header-cell *matHeaderCellDef> Közlemény/1 </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.note1}} </td>
    </ng-container>

    <ng-container matColumnDef="note2">
      <th mat-header-cell *matHeaderCellDef> Közlemény/2 </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.note2}} </td>
    </ng-container>

    <ng-container matColumnDef="note3">
      <th mat-header-cell *matHeaderCellDef> Közlemény/3 </th>
      <td mat-cell *matCellDef="let transaction"> {{transaction.note3}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
